.form-group-register {
    margin-bottom: 15px;
}
.register-button {
    margin-top: 15px;;
}
.register-button a{
    margin-left: 20px;
    color: #f72b3f;
}
.register-option {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.login-link {
    color: #777777
}